:host {
  display: block;
  width: 100%;
  margin: 50px 0;
}
h4 {
  margin: 20px 0;
}
.sel {
  font-size: 16px;
  color: var(--gray);
}
tr > th {
  color: var(--gray);
}
tr > th:first-child,
.selContent {
  font-weight: bold;
  color: var(--pink);
}
tr > td:first-child {
  font-weight: bold;
}
