<div class="container">
  <div class="jumbotron">
    <h1>
      ngx-split
      <a href="https://www.npmjs.com/package/ngx-split"
        ><img
          src="https://img.shields.io/npm/v/ngx-split/latest.svg?style=flat-square"
          alt="npm latest version"
          height="18" /></a
      >&nbsp;<a href="https://travis-ci.com/beeman/ngx-split"
        ><img
          src="https://img.shields.io/travis/com/beeman/ngx-split/main.svg?style=flat-square&label=Cypress+E2E+tests"
          alt="Build Status"
          height="18"
      /></a>
    </h1>

    <ui-markdown [data]="markdown"></ui-markdown>

    <h5>Bug report:</h5>
    <p>
      If you find a bug, open an issue with a
      <a href="https://stackblitz.com/fork/ngx-split" target="_blank"
        >StackBlitz</a
      >
      demo showing it.
    </p>
    <h5>Feature request:</h5>
    <p>
      If you want to see a new feature, create an
      <a href="https://github.com/beeman/ngx-split/issues/new" target="_blank"
        >issue</a
      >.
    </p>
  </div>
</div>
